* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: defaultFont;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: defaultFont;
  src: url(./assets/fonts/PKMN\ RBYGSC.ttf);
}
